<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Contacto</title>
</head>
<body>

    <section class="container">
        <h1> Contacto</h1>
    <form action="/send-email" method="post">
        <div class="mb-3">
        <input type="text" class="form-control" name="nombre" placeholder="Ingresa el nombre">
        </div>

        <div class="mb-3">
        <input type="text" class="form-control" name="apellido" placeholder="Ingresa el apellido">
        </div>
       
       
        <div class="mb-3">
        <input type="email"  class="form-control " name="email" placeholder="Ingresa el mail">
        </div>

        <div class="mb-3">
        <input type="text" class="form-control" name="asunto" placeholder="Asunto">
        </div>
       
             
        <div class="mb-3">
        <textarea id="" class="form-control" name="mensaje" cols="30" rows="10" placeholder="Ingresa el mensaje"></textarea>
        </div>
        
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>

    </form>
    </section>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>