

.nav-link{
    padding: 1.5rem;
    margin-right: 2rem;
   
}

.tus_compras{
    background-color: red;
    color:white;
    padding-left: 1rem;
    

}

.img-mujer{
    padding: 2rem;
    width: 550px;
      
}

h1{
    font-size: 3rem;
}
.container-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 3rem;
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

p{
    font-weight: bolder;
}

h1-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* FOOTER  */

.footer__container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: larger;
}

.footer__container {
    text-decoration: none;
    color: #f4f5f8;
    font-weight: bolder;
}
.footer__container ul li a {
    text-decoration: none;
    color: #f5f7fa;
}

.ul_icon{
    width: 50;
    height: 50;
}

@media (max-width: 750px){
    .footer__container{
        display: inline-flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .container th{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .table td{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .container-h1{
        flex-direction: column;
        padding:1rem;
        color:red;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        padding-top: 3rem;
        text-align: center;
    }
    
    .container-h1 p{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p{
        font-weight: bolder;
    }

    .img-mujer{
             
        /* padding: 2rem;
        width: 2500px; */
        display: none;  
    
};

.tus_compras{
    background-color: red;
    color:white;
    padding-left: 1rem;
    font-size: 1.5rem;
}

h1{
    font-size: 2rem;
}
}